.drewpic {
  margin: 15px;
  float: left;
  height: 400px;
}

.about {
  background-color: whitesmoke;
  margin-top: 50px;
  border-radius: 3px;
  width: auto;
  height: 100%;
  opacity: 90%;
}

p {
  margin: 30px;
}
