.porfoliocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  height: 400px;
  flex-wrap: wrap;

  z-index: 1;
}

.martapic {
  border-style: solid;
  border-width: 2.5px;
  border-color: black;
  border-radius: 2px;
}
.plannerPic {
  border-style: solid;
  border-width: 2.5px;
  border-color: black;
  border-radius: 2px;

  text-align: center;
  color: blue;
}
figcaption {
  text-align: center;
}
.titleDiv {
  text-align: center;
  height: 45px;
  color: black;
  background-color: whitesmoke;
}
